<!DOCTYPE html>
<html lang="en" data-layout="topnav" data-topbar-color="light">

<head>
  <script src="/dmxAppConnect/dmxAppConnect.js"></script>
  <base href="/">
  <meta charset="utf-8" />
  <title>Amazon | </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
  <meta content="Coderthemes" name="author" />

  <!-- App favicon -->
  <link rel="shortcut icon" href="assets/images/favicon.ico">

  <link href="assets/vendor/c3/c3.min.css" rel="stylesheet" type="text/css" />


  <!-- Vendor css -->
  <link href="/assets/css/vendor.min.css" rel="stylesheet" />

  <!-- App css -->
  <link href="/assets/css/app.min.css" rel="stylesheet" id="app-style" />

  <!-- Icons css -->
  <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />

  <!-- Theme Config Js -->
  <script src="assets/js/config.js"></script>
  <link rel="stylesheet" href="/fontawesome5/css/all.min.css" />
  <script src="/dmxAppConnect/dmxBootstrap5Navigation/dmxBootstrap5Navigation.js" defer></script>
  <script src="/dmxAppConnect/dmxBrowser/dmxBrowser.js" defer></script>
  <script src="/dmxAppConnect/dmxFormatter/dmxFormatter.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxNotifications/dmxNotifications.css" />
  <script src="/dmxAppConnect/dmxNotifications/dmxNotifications.js" defer></script>
  <script src="/dmxAppConnect/dmxSwiper/dmxSwiper.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxSwiper/swiper.min.css" />
  <script src="/dmxAppConnect/dmxSwiper/swiper.min.js" defer></script>
  <script src="/dmxAppConnect/dmxTyped/dmxTyped.js" defer></script>
  <script src="/dmxAppConnect/dmxTyped/typed.min.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxSlideshow/dmxSlideshow.css" />
  <script src="/dmxAppConnect/dmxSlideshow/dmxSlideshow.js" defer></script>
  <link rel="stylesheet" href="/dmxAppConnect/dmxSlideshow/themes/default.css" />
  <script src="/dmxAppConnect/dmxFormRepeat/dmxFormRepeat.js" defer></script>
  <script src="/dmxAppConnect/dmxDatastore/dmxDatastore.js" defer></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/dmxAppConnect/dmxSockets/dmxSockets.js" defer></script>
  <script src="/dmxAppConnect/dmxStateManagement/dmxStateManagement.js" defer></script>
  <script src="/dmxAppConnect/dmxBootstrap5Modal/dmxBootstrap5Modal.js" defer></script>
  <script src="/dmxAppConnect/dmxScheduler/dmxScheduler.js" defer></script>
</head>

<body is="dmx-app" id="homepage">
  <dmx-datetime id="data_hora" interval="minutes"></dmx-datetime>
  <dmx-value id="validade_carrinho"></dmx-value>
  <dmx-scheduler id="temporizador_carrinho" dmx-on:tick="run({condition:{outputType:'boolean',if:`data_hora.datetime.minutesUntil(validade_carrinho.value)&lt;=0`,then:{steps:{run:{outputType:'text',action:`datastore_carrinho.clear()`}}}}})" unit="minutes"></dmx-scheduler>
  <dmx-value id="step" dmx-bind:value="1"></dmx-value>
  <dmx-datastore id="datastore_carrinho"></dmx-datastore>
  <dmx-serverconnect id="sc_logout" url="/api/usuarios/logout" noload="true"></dmx-serverconnect>
  <dmx-serverconnect id="sc_listar_eventos" url="/api/eventos/listar_eventos"></dmx-serverconnect>
  <dmx-notifications id="notifies1"></dmx-notifications>
  <dmx-serverconnect id="sc_usuario_logado" url="/api/usuarios/usuario_logado"></dmx-serverconnect>
  <div is="dmx-browser" id="browser1"></div>
  <!-- Begin page -->
  <div class="wrapper">
    <div class="modal" id="carrinho" is="dmx-bs5-modal" tabindex="-1">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header bg-light-subtle">
            <h5 class="modal-title text-black">CARRINHO</h5>
            <h5 class="modal-title text-black ms-4">{{(((var1.datetime.secondsUntil(validade_carrinho.value)/60)%60)).floor()}}</h5>

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pt-0 pb-0 ps-3 pe-3">
            <div class="card-body pt-2">
              <div class="table-responsive">
                <table class="table table-hover m-0 table-actions-bar">

                  <thead>
                  </thead>
                  <tbody is="dmx-repeat" id="itens_carrinho" dmx-bind:repeat="datastore_carrinho.data">
                    <tr>
                      <td class="w-70 w-75">
                        <h3 class="m-0 fw-medium">{{item_nome}}</h3>
                      </td>

                      <td class="text-center w-15 w-25">
                        <span class="text-warning">R$</span>{{(item_valor.toNumber() / 100).formatCurrency(' ', ',', '.', 2)}}
                      </td>

                      <td class="text-center">
                        <button id="btn1" class="btn" dmx-on:click="datastore_carrinho.delete({$id: $id})"><i class="fas fa-trash-alt text-danger"></i></button>
                      </td>
                    </tr>


                    <tr>

                      <td colspan="3">
                        <div class="row g-2">
                          <div class="col-7">
                            <input id="participante_nome" name="participante_nome" type="text" class="form-control" placeholder="Nome Participante" dmx-on:updated="datastore_carrinho.update({$id: $id},{participante_nome: value, nome: value})" dmx-bind:value="nome">
                          </div>
                          <div class="col-5">
                            <input id="participante_cpf" name="participante_cpf" type="text" onkeyup="formatCPF(this)" class="form-control" placeholder="CPF" dmx-on:updated="datastore_carrinho.update({$id: $id},{participante_cpf: participante_cpf.value, cpf: value})" dmx-bind:value="cpf">
                          </div>
                          <div class="col-7">
                            <input id="participante_email" name="participante_email" type="text" class="form-control" placeholder="E-mail" dmx-on:updated="datastore_carrinho.update({$id: $id},{participante_email: participante_email.value, email: value})" dmx-bind:value="email">
                          </div>
                          <div class="col-5">
                            <input id="participante_telefone" name="participante_telefone" type="text" onkeyup="formatTelefone(this)" class="form-control" placeholder="Telefone" dmx-on:updated="datastore_carrinho.update({$id: $id},{participante_telefone: value, telefone: value})" dmx-bind:value="telefone">
                          </div>
                        </div>
                      </td>




                    </tr>


                  </tbody>
                </table>
              </div>
              <div class="row mt-4 mb-1">
                <div class="col">
                  <div class="d-flex flex-row gap-1 justify-content-end">
                    <h4>Total</h4>
                    <h4>{{(datastore_carrinho.data.sum(`item_valor`).toNumber() / 100).formatCurrency(' R$ ', ',', '.', 2)}}</h4>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer mt-0">
            <button type="button" class="btn btn-info gap-1" dmx-on:click="carrinho.hide()">
              <i class="fas fa-cart-plus"></i>ADICIONAR MAIS ITENS</button>
            <button type="button" class="btn btn-success" dmx-on:click="step.setValue(2);carrinho.hide()">PAGAR</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Topbar Start -->
    <header class="app-topbar">
      <div class="page-container topbar-menu">
        <div class="d-flex align-items-center gap-1">

          <!-- Brand Logo -->
          <a href="index.html" class="logo">
            <span class="logo-light">
              <span class="logo-lg"><img src="assets/images/logo-light.png" alt="logo"></span>
              <span class="logo-sm"><img src="assets/images/logo-sm.png" alt="small logo"></span>
            </span>

            <span class="logo-dark">
              <span><img src="assets/images/logo-dark.png" alt="dark logo" class="img" width="100"></span>
              <span class="logo-sm"><img src="assets/images/logo-sm.png" alt="small logo"></span>
            </span>
          </a>

          <!-- Sidebar Menu Toggle Button -->
          <button class="sidenav-toggle-button px-2">
            <i data-lucide="menu" class="font-22"></i>
          </button>

          <!-- Horizontal Menu Toggle Button -->
          <button class="topnav-toggle-button px-2" data-bs-toggle="collapse" data-bs-target="#topnav-menu-content">
            <i data-lucide="menu" class="font-22"></i>
          </button>


          <!-- Mega Menu Dropdown -->
          <!-- end topbar-item -->
        </div>

        <nav class="navbar navbar-expand-lg">
          <nav class="page-container">
            <div class="collapse navbar-collapse" id="topnav-menu-content">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item dropdown hover-dropdown">
                  <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-dashboards" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-icon"><i data-lucide="airplay"></i></span>
                    <span class="menu-text"> Home </span>
                  </a>
                </li>

                <li class="nav-item dropdown hover-dropdown">
                  <a class="nav-link dropdown-toggle drop-arrow-none" href="#" id="topnav-apps" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="menu-icon"><i data-lucide="briefcase"></i></span>
                    <span class="menu-text">Novidades </span>
                  </a>
                </li>
                <li>
                  <a href="#faq" class="nav-link dropdown-toggle drop-arrow-none" id="topnav-pages" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" internal="true"><span class="menu-icon"><i data-lucide="file-plus"></i></span>
                    <span class="menu-text">Faq</span>
                  </a>
                </li>

              </ul>
            </div>
          </nav>
        </nav>
        <div class="d-flex align-items-center gap-1 me-5">


          <div class="topbar-item d-none d-sm-flex">
            <button class="topbar-link" id="light-dark-mode" type="button">
              <i data-lucide="moon" class="font-22 light-mode"></i>
              <i data-lucide="sun" class="font-22 dark-mode"></i>
            </button>
          </div>

          <!-- Language Dropdown -->

          <!-- Notification Dropdown -->
          <div class="topbar-item">
            <div class="d-flex gap-3 align-items-center" dmx-show="!sc_usuario_logado.data.query.usuario_email.isEmpty()">
              <div class="dropdown">
                <button class="topbar-link dropdown-toggle drop-arrow-none position-relative" data-bs-toggle="dropdown" data-bs-offset="0,25" type="button" data-bs-auto-close="outside" aria-haspopup="false" aria-expanded="false">
                  <i data-lucide="bell" class="font-22"></i>
                  <span class="badge bg-pink rounded-circle noti-icon-badge">4</span>
                </button>

                <div class="dropdown-menu p-0 dropdown-menu-end dropdown-menu-lg" style="min-height: 300px;">
                  <div class="p-2 border-bottom bg-primary">
                    <div class="row align-items-center">
                      <div class="col">
                        <h6 class="m-0 font-16 fw-medium text-white">Informações</h6>
                      </div>
                      <div class="col-auto">
                        <div class="dropdown">
                          <a href="#" class="dropdown-toggle drop-arrow-none link-dark" data-bs-toggle="dropdown" data-bs-offset="0,15" aria-expanded="false">
                            <i class="mdi mdi-cog-outline font-22 align-middle text-white"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-end">
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Mark as Read</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Delete All</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Do not Disturb</a>
                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item">Other Settings</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="position-relative z-2" style="max-height: 300px;" data-simplebar>
                    <!-- item-->
                    <div class="dropdown-item notification-item py-2 text-wrap active" id="notification-1">
                      <span class="d-flex align-items-center">
                        <span class="me-3 position-relative flex-shrink-0">
                          <div class="avatar avatar-md">
                            <span class="avatar-title bg-success rounded-circle">
                              <i class="mdi mdi-cog-outline font-20"></i>
                            </span>
                          </div>
                        </span>
                        <span class="flex-grow-1 text-muted">
                          <p class="fw-medium mb-0 text-dark">New settings</p>
                          <span class="font-12">There are new settings available</span>
                        </span>
                        <span class="notification-item-close">
                          <button type="button" class="btn btn-ghost-danger rounded-circle btn-sm btn-icon" data-dismissible="#notification-1">
                            <i class="mdi mdi-close font-16"></i>
                          </button>
                        </span>
                      </span>
                    </div>

                    <!-- item-->

                    <!-- item-->
                    <div class="dropdown-item notification-item py-2 text-wrap" id="notification-3">
                      <span class="d-flex align-items-center">
                        <span class="me-3 position-relative flex-shrink-0">
                          <div class="avatar avatar-md">
                            <span class="avatar-title bg-danger rounded-circle">
                              <i class="mdi mdi-account-plus-outline font-20"></i>
                            </span>
                          </div>
                        </span>
                        <span class="flex-grow-1 text-muted">
                          <p class="fw-medium mb-0 text-dark">New Users</p>
                          <span class="font-12">You have 10 unread messages</span>
                        </span>
                        <span class="notification-item-close">
                          <button type="button" class="btn btn-ghost-danger rounded-circle btn-sm btn-icon" data-dismissible="#notification-1">
                            <i class="mdi mdi-close font-16"></i>
                          </button>
                        </span>
                      </span>
                    </div>

                    <!-- item-->

                    <!-- item-->
                  </div>


                  <!-- All-->
                  <a href="javascript:void(0);" class="dropdown-item notification-item position-fixed z-2 bottom-0 text-center text-reset text-decoration-underline link-offset-2 fw-bold notify-item border-top border-light py-2">
                    View All
                  </a>
                </div>
              </div>
              <div class="dropdown" dmx-show="datastore_carrinho.data.count()&gt;0" dmx-on:click="carrinho.show()">
                <button class="topbar-link dropdown-toggle drop-arrow-none position-relative" data-bs-toggle="dropdown" data-bs-offset="0,25" type="button" data-bs-auto-close="outside" aria-haspopup="false" aria-expanded="false">
                  <i class="fas fa-shopping-cart fa-2x text-info"></i>
                  <span class="badge bg-pink rounded-circle noti-icon-badge">{{datastore_carrinho.data.count()}}</span>
                </button>


              </div>
              <div class="dropdown">
                <a class="topbar-link dropdown-toggle drop-arrow-none px-0" data-bs-toggle="dropdown" data-bs-offset="0,19" type="button" aria-haspopup="false" aria-expanded="false">
                  <img src="/assets/images/users/avatar-6.jpg" width="35" class="rounded-circle me-lg-2 d-flex" alt="user-image" dmx-bind:src="sc_usuario_logado.data.query.foto" height="35">
                  <span class="d-lg-flex flex-column gap-1 d-none">
                    <span class="my-0">{{sc_usuario_logado.data.query.usuario_apelido}}</span>
                  </span>
                  <i data-lucide="chevron-down" class="d-none d-sm-flex" height="12"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <!-- item-->
                  <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Bem-vindo!</h6>
                  </div>

                  <!-- item-->
                  <a href="javascript:void(0);" class="dropdown-item">
                    <i class="mdi mdi-account-circle-outline me-1 font-17 align-middle"></i>
                    <span class="align-middle">Perfil</span>
                  </a>

                  <!-- item-->
                  <a href="javascript:void(0);" class="dropdown-item">
                    <i class="mdi mdi-ticket-confirmation-outline me-1 font-17 align-middle"></i>
                    <span class="align-middle">Meus ingressos</span>
                  </a>

                  <!-- item-->

                  <!-- item-->

                  <div class="dropdown-divider"></div>

                  <!-- item-->

                  <!-- item-->
                  <a class="dropdown-item active fw-semibold text-danger" dmx-on:click="sc_logout.load({});sc_usuario_logado.reset();notifies1.success('Você está desconectado!')">
                    <i class="mdi mdi-logout me-1 font-17 align-middle"></i>
                    <span class="align-middle">Sair</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="d-flex">
              <button btn1"="" class="btn text-bg-primary ms-3 me-3" data-bs-toggle="button" dmx-on:click="browser1.goto('/login')" dmx-show="sc_usuario_logado.data.query.usuario_email.isEmpty()">Login</button>
            </div>
          </div>

          <!-- User Dropdown -->
          <div class="topbar-item nav-user">

          </div>

          <!-- Button Trigger Customizer Offcanvas -->
        </div>
      </div>
    </header>
    <!-- Topbar End -->

    <!-- Horizontal Menu Start -->
    <div class="container">
      <%- await include(content, locals) %>
    </div>
    <!-- Horizontal Menu End -->

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->


    <!-- Footer Start -->
    <footer class="footer">
      <div class="page-container">
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex flex-row justify-content-between">
              <div class="d-flex align-items-center">
                <h6 class="mt-0 mb-0 "><i class="fas fa-map-marker-alt"></i>&nbsp;Endereço</h6>
              </div>
              <div class="d-flex">
                <h6 class="mt-0 mb-0"><i class="fas fa-phone-square-alt"></i>&nbsp;49 99978-7984</h6>
              </div>
              <div class="d-flex">
                <h6 class="mt-0 mb-0"><i class="fas fa-envelope"></i>&nbsp;support@yourmail.com</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- end Footer -->

  </div>
  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->

  </div>
  <!-- END wrapper -->


  <!-- Theme Settings -->

  <!-- Vendor js -->
  <script src="/assets/js/vendor.min.js"></script>

  <!-- App js -->
  <script src="/assets/js/app.js"></script>

  <!--C3 Chart-->
  <script src="assets/vendor/d3/d3.min.js"></script>
  <script src="assets/vendor/c3/c3.min.js"></script>


  <script src="assets/vendor/echarts/echarts.min.js"></script>

  <!-- Projects Analytics Dashboard App js -->
  <script src="assets/js/pages/dashboard-sales.js"></script>

  <script>
    function formatTelefone(input) {
        let value = input.value;

        // Remove todos os caracteres que não são dígitos
        value = value.replace(/[\D]+/g, "");

        // Aplica a máscara de telefone
        if (value.length <= 10) {
            value = value.replace(/(\d{2})(\d)/, "($1) $2");
            value = value.replace(/(\d{4})(\d{1,4})$/, "$1-$2");
        } else {
            value = value.replace(/(\d{2})(\d)/, "($1) $2");
            value = value.replace(/(\d{5})(\d{1,4})$/, "$1-$2");
        }

        // Atualiza o valor do campo de entrada
        input.value = value;
    }
  </script>
  <script>
    function formatCPF(input) {
        let value = input.value;

        // Remove todos os caracteres que não são dígitos
        value = value.replace(/[\D]+/g, "");

        // Aplica a máscara de CPF
        if (value.length <= 11) {
            value = value.replace(/(\d{3})(\d)/, "$1.$2");
            value = value.replace(/(\d{3})(\d)/, "$1.$2");
            value = value.replace(/(\d{3})(\d{1,2})$/, "$1-$2");
        }

        // Atualiza o valor do campo de entrada
        input.value = value;
    }
  </script>


</body>

</html>