<!-- Wappler include head-page="layouts/homepage" fontawesome_5="cdn" id="index" components="{dmxSlideshow:{},dmxFormatter:{},dmxSockets:{},dmxDatastore:{},dmxStateManagement:{},dmxBootstrap5Modal:{}}" is="dmx-app" appConnect="local" bootstrap5="custom" -->
<div class="modal" id="modal_nao_logado" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Ir login</button>
            </div>
        </div>
    </div>
</div>
<dmx-value id="var_contador" dmx-bind:value="0"></dmx-value>


<dmx-socket id="socket_atualizar" dmx-on:message.atualizar_evento="sc_evento.load({id_evento: $event.evento_id})"></dmx-socket>
<dmx-value id="status_pagamento" dmx-bind:value="0"></dmx-value>

<dmx-serverconnect id="sc_evento" url="/api/eventos/evento" dmx-param:id_evento="query.id_evento"></dmx-serverconnect>
<dmx-datetime id="var1"></dmx-datetime>

<section id="ingressos" class="min-vh-100" dmx-show="step.value==1">
    <div class="container">
        <div class="row justify-content-between gap-3">
            <div class="col-lg-6 col-xxl mt-xxl-0">
                <div class="title-heading mt-5">
                    <h3 class="mb-3 fw-normal" style="font-size: 30px;">Compre agora</h3>
                    <div class="row" is="dmx-repeat" id="itens_venda" dmx-bind:repeat="sc_evento.data.evento_front.produtos">
                        <div class="col-12">
                            <div class="card shadow-sm mt-1 mb-1">
                                <!-- Ajustadas margens menores -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="d-flex flex-column">
                                                <div class="d-flex justify-content-between">
                                                    <h4 class="fw-bold mt-0 mb-0">{{produto_nome}}</h4>
                                                </div>
                                                <h4 class="mt-1">{{(valor.toNumber() / 100).formatCurrency(' R$ ', ',', '.', 2)}}</h4>
                                                <h6 class="mt-0 mb-0">até {{final_vendas.formatDate('dd MMMM yyyy HH:mm')}}</h6>
                                                <h5 class="text-danger text-start mt-1">Quase acabando</h5>
                                                <div class="d-flex">
                                                    <h5 class="text-danger mt-0 mb-0 text-center">Termina em&nbsp;</h5>
                                                    <h5 class="text-danger mt-0 mb-0 text-center">{{(((var1.datetime.secondsUntil(final_vendas))/ 86400)%365).floor()}} Dias</h5>
                                                    <h5 class="text-danger mt-0 mb-0 ms-1 text-center"> {{(((var1.datetime.secondsUntil(final_vendas)/3600)%24)).floor()}} Horas</h5>
                                                    <h5 class="text-danger mt-0 mb-0 ms-1 text-center"> {{(((var1.datetime.secondsUntil(final_vendas)/60)%60)).floor()}} minutos</h5>
                                                </div>

                                                <input id="inp_produtoid" name="produtoid" type="hidden" dmx-bind:value="id">
                                                <input id="inp_produto" name="produto" dmx-bind:value="produto_nome" type="hidden">
                                                <input id="inp_valor" name="valor" type="hidden" dmx-bind:value="valor">
                                                <input id="inp_qtide" name="qtide" type="hidden" value="1">
                                                <input id="inp_subtotal" name="subtotal" type="hidden" dmx-bind:value="(valor * inp_qtide.value)">
                                            </div>
                                        </div>
                                        <div class="align-self-center col-4">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <button id="btn_plus" class="btn" dmx-on:click="run({condition:{outputType:'boolean',if:`sc_usuario_logado.data.query.usuario_email`,then:{steps:[{run:{outputType:'text',action:`validade_carrinho.setValue(data_hora.datetime.toDate().addMinutes(2).toDate())`}},{condition:{outputType:'boolean',if:`is_mesa==true`,then:{steps:[{run:{outputType:'text',action:`var_contador.setValue(0)`}},{while:{condition:`var_contador.value&lt;qtide_mesa`,exec:{steps:[{run:{outputType:'text',action:`datastore_carrinho.insert({item_id: id, item_valor: valor, item_nome: produto_nome})`}},{run:{outputType:'text',action:`var_contador.setValue(var_contador.value+1)`}}]}}},{run:{outputType:'text',action:`carrinho.show()`}},{run:{outputType:'text',action:`notifies1.success(\'Item inserido no carrinho\')`}}]},else:{steps:[{run:{outputType:'text',action:`datastore_carrinho.insert({item_id: id, item_valor: valor, item_nome: produto_nome})`}},{run:{outputType:'text',action:`carrinho.show()`}},{run:{outputType:'text',action:`notifies1.success(\'Item inserido no carrinho\')`}}]}}}]},else:{steps:{run:{outputType:'text',action:`modal_nao_logado.show()`}}}}})">
                                                    <i class="fas fa-cart-plus fa-2x text-primary"></i>
                                                </button>

                                            </div>
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 mt-5" dmx-hide="!sc_evento.data.evento_front.produtos[0].id.isEmpty()">
                            <div class="d-flex flex-column align-items-center gap-3">
                                <i class="fas fa-exclamation fa-4x text-primary"></i>
                                <h4 class="text-center text-muted">Nenhum item cadastrado <br>no momento</h4>
                            </div>
                        </div>
                    </div>







                </div>
            </div>
            <div class="col-lg-6 col-xxl mt-xxl-0 offset-1">
                <div class="title-heading mt-5">
                    <h2 class="fw-bold mt-5 text-center text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start" style="font-size: 40px;">{{sc_evento.data.evento_front.evento_nome}}</h2>
                    <div class="d-flex align-items-center gap-3 mt-3 justify-content-center flex-row justify-content-md-start">
                        <h4 class="sub-title mt-0 mb-0 text-center text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start"><i class="fas fa-calendar-alt text-primary"></i>&nbsp; {{sc_evento.data.evento_front.evento_data_hora.formatDate('dd MMM yyyy')}}&nbsp;</h4>
                        <h4 class="sub-title mt-0 mb-0"><i class="fas fa-clock text-primary"></i>&nbsp; {{sc_evento.data.evento_front.evento_data_hora.formatDate('HH:mm')}}</h4>
                    </div>



                    <h5 class="fw-bold mt-2 text-center text-sm-center text-md-start text-lg-start text-xl-start text-xxl-start">{{sc_evento.data.evento_front.evento_resumo}}</h5>
                    <h5 class="text-muted text-center text-md-start text-lg-start text-xl-start text-xxl-start mt-3">{{sc_evento.data.evento_front.evento_descricao}}</h5>

                    <div class="row text-center mt-5 gx-2 justify-content-center justify-content-md-start justify-content-lg-start" dmx-hide="(((var1.datetime.secondsUntil(sc_evento.data.evento_front.evento_data_hora)/60)%60)).floor()&lt;0">
                        <div class="col-2 border-end">
                            <div class="">
                                <h2 id="days1" class="text-primary fw-bold">{{(((var1.datetime.secondsUntil(sc_evento.data.evento_front.evento_data_hora))/ 86400)%365).floor()}}</h2>
                                <h6 class="fw-light">Dias</h6>
                            </div>
                        </div>
                        <div class="col-2 border-end">
                            <div class="">
                                <h2 id="hours1" class="text-primary fw-bold">{{(((var1.datetime.secondsUntil(sc_evento.data.evento_front.evento_data_hora)/3600)%24)).floor()}}</h2>
                                <h6 class="fw-light">Horas</h6>
                            </div>
                        </div>
                        <div class="col-2 border-end">
                            <div class="">
                                <h2 id="minutes1" class="text-primary fw-bold">{{(((var1.datetime.secondsUntil(sc_evento.data.evento_front.evento_data_hora)/60)%60)).floor()}}</h2>
                                <h6 class="fw-light">Minutos</h6>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="">
                                <h2 id="seconds1" class="text-primary fw-bold">{{(((var1.datetime.secondsUntil(sc_evento.data.evento_front.evento_data_hora)%60))).floor()}}</h2>
                                <h6 class="fw-light">Segundos</h6>
                            </div>
                        </div>
                        <div class="col">
                            <img dmx-bind:src="sc_evento.data.evento_front.evento_banner_principal" height="200">
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>
<section id="pagamento" class="w-100 mt-5 mb-5" dmx-show="step.value==2">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6 col-xxl mt-xxl-0">
                <div class="title-heading mt-5 text-center">
                    <div class="d-flex justify-content-center align-items-center gap-2 mb-2">

                        <i class="fas fa-stopwatch fa-2x text-danger"></i>
                        <h4 class="mt-0 mb-0 fw-bold">10:00</h4>
                    </div>
                    <h2 class="fw-bold mb-3" style="font-size: 40px;">Qual método de pagamento ?</h2>
                    <div class="row shadow-sm rounded rounded-2 me-2 pt-3 pb-3 ps-2 pe-2 gap-4 bg-transparent">
                        <div class="col-4">
                            <div class="d-flex flex-row align-items-center justify-content-start gap-3 pt-2 pb-2 ps-2 pe-2 bordas">

                                <img width="35" height="35" src="/assets/images/pix.png">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="check_pix" name="check_pix">
                                    <label class="form-check-label" for="check_pix">Pix</label>
                                </div>


                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex flex-row align-items-center justify-content-start gap-3">

                                <img width="35" height="35" src="/assets/images/cartao.png">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="check_credito" name="icheck_credito">
                                    <label class="form-check-label" for="check_credito">Crédito</label>
                                </div>


                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex flex-row align-items-center justify-content-start gap-3">

                                <img width="35" height="35" src="/assets/images/boleto.png">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="check_boleto" name="check_boleto">
                                    <label class="form-check-label" for="check_boleto">Boleto</label>
                                </div>


                            </div>
                        </div>
                    </div>





                </div>
            </div>
            <div class="col-lg-6 col-xxl mt-xxl-0" id="credito" dmx-show="check_credito.checked">
                <div class="card bg-transparent">
                    <div class="card-body">
                        <h4 class="card-title">Cartão de Crédito</h4>
                        <form id="form1" is="dmx-form" novalidate="">


                            <div class="form-group mb-3"> <label for="inp_nome_cartao" class="form-label mt-1 mb-1">Nome no cartão</label>
                                <input type="text" class="form-control border-b" id="inp_nome_cartao" name="nome_cartao" aria-describedby="input4_help" placeholder="0000 0000 0000 0000" is="dmx-input" value="">
                            </div>
                            <div class="form-group mb-3"> <label for="inp_numero_cartao" class="form-label mt-1 mb-1">Número do cartão</label>
                                <input type="text" class="form-control" id="inp_numero_cartao" name="numero_cartao" aria-describedby="input4_help" is="dmx-input" value="">
                            </div>
                            <div class="form-group mb-3">
                                <div class="row">
                                    <div class="col">
                                        <label for="inp_validade_cartao" class="form-label mt-1 mb-1">Validade</label>
                                        <div class="d-flex flex-row gap-2"><input type="date" class="form-control" id="inp_validade_cartao" name="validade_cartao" aria-describedby="input4_help" placeholder="00 / 00" is="dmx-input" value="">
                                        </div>
                                    </div>
                                    <div class="col"><label for="inp_codigo_seguranca" class="form-label mt-1 mb-1">Cód Segurança</label><input type="text" class="form-control" id="inp_codigo_seguranca" name="codigo_seguranca" aria-describedby="input4_help" is="dmx-input" value=""></div>
                                </div>

                            </div>
                            <div class="form-group mb-3">
                                <label for="input8" class="form-label mt-0 mb-1">Parcelamento</label>
                                <select id="select_parcelamento" class="form-select" is="dmx-select" dmx-bind:options="sc_evento.data.evento_front.qtide_parcelas_cartao">
                                    <!-- </div-->



                                    TELEFONE
                                    Promising development turmoil inclusive education transformative community
                                    +152 534-468-854


                                    <!--end col-->







                                    E-mail
                                    Promising development turmoil inclusive education transformative community
                                    contact@example.com


                                    <!--end col-->







                                    ENDEREÇO
                                    C/54 Northwest Freeway, Suite 558, Houston, USA 485


                                    <!--end col-->
                                    <!--end row-->
                                    <!--end container-->
                                    <!--end section-->

                                    <!--end section-->
                                    <!-- Contact End -->

                                    <!-- Footer Start -->





                                    Uma frase sobre o amazon








                                    <!--end col-->
                                    <!--end row-->
                                    <!--end container-->
                                    <!--end footer-->
                                    <!--end footer-->
                                    <!-- Footer End -->

                                    <!-- Back to top -->



                                    <!-- Back to top -->


                                    <!-- javascript -->
                                    <script src="assets/js/bootstrap.bundle.min.js"></script>
                                    <script src="assets/js/gumshoe.js"></script>
                                    <!-- SLIDER -->
                                    <script src="assets/js/tiny-slider.js "></script>
                                    <!-- Lightbox -->
                                    <script src="assets/js/tobii.min.js"></script>
                                    <script src="assets/js/shuffle.min.js"></script>
                                    <!-- Feather icon -->
                                    <script src="assets/js/feather.min.js"></script>
                                    <!-- Main Js -->
                                    <script src="assets/js/plugins.init.js"></script>
                                    <script src="assets/js/app.js"></script>



                                    Button
                                    Some quick example text to build on the card title and make up the bulk of the card's content.
                                    Go somewhere

                                </select>
                            </div>
                        </form>
                        <h4 class="card-title">Total {{datastore_carrinho.data.sum(`item_valor.toNumber().formatCurrency('R$ ', ',', '.', 2)`)}}</h4>

                        <button id="btn5" class="btn btn-success" is="dmx-button" value="" type="button">Pagar</button>
                        <button id="btn7" class="btn btn-outline-secondary" is="dmx-button" value="" type="button">Pagar com PIX&nbsp;</button>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl mt-xxl-0" id="pix" dmx-show="check_pix.checked">
                <div class="card bg-transparent">
                    <div class="card-body text-center">
                        <h4 class="card-title">Pagar com PIX</h4>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ_GQ8Q54rfcTxUXpKKs1GUisW059Mm-gzk7Q&amp;s">
                        <h4 class="card-title">Total R$ 200</h4>
                        <div class="d-flex justify-content-center"><button id="btn6" class="btn btn-success" is="dmx-button" value="" type="button"><i class="far fa-copy"></i>&nbsp; Copiar Código</button></div>


                        <button id="btn6" class="btn btn-outline-secondary" is="dmx-button" value="" type="button">Pagar com PIX&nbsp;</button>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl mt-xxl-0" id="processando" dmx-show="status_pagamento.value==1">
                <div class="card bg-transparent">
                    <h4 class="card-title text-center">Processando</h4><img class="card-img" src="/assets/images/loader.svg" width="150" height="150">
                    <div class="card-body text-center">

                        <h5 class="card-title">Aguarde... Estamos processando seu pagamento</h5>



                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl mt-xxl-0" id="sucesso" dmx-show="status_pagamento.value==3">
                <div class="card bg-transparent">
                    <h4 class="card-title text-center">Confirmado</h4><img class="card-img" src="/assets/images/sucesso.svg" width="150" height="150">
                    <div class="card-body text-center">

                        <h5 class="card-title">Seu pagamento foi confirmado e seu ingresso estará disponível em breve</h5>



                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xxl mt-xxl-0" id="erro" dmx-show="status_pagamento.value&gt;3">
                <div class="card bg-transparent">
                    <h4 class="card-title text-center">Falha no pagamento</h4><img class="card-img" src="/assets/images/erro.svg" width="150" height="150">
                    <div class="card-body text-center">

                        <h5 class="card-title">Não conseguimos processar o seu pagamento</h5>



                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<section id="faq" class="w-100">
    <div class="card-body text-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt-3">
                    <h3 class="fw-semibold">Perguntas frequentes</h3>
                    <p class="text-muted mt-3 mb-2">Se você tem dúvidas, confira abaixo as respostas para as perguntas mais comuns. Caso não encontre o que procura, entre em contato conosco.</p>



                </div>
            </div><!-- end col -->
        </div><!-- end row -->


        <div class="row mt-4">
            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/ingresso.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Os ingressos são nominais?</h4>
                    <p class="mb-0">Sim. A entrada no evento só é permitida ao portador do ingresso, que deve apresentar um documento de identificação oficial correspondente ao CPF e nome registrados no ingresso.</p>
                </div>
            </div>
            <!--/col-sm-4 -->

            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/edit.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Porque o CPF no ingresso?</h4>
                    <p class="mb-0">Para as transações de compra, é utilizado o CPF do usuário logado. Certifique-se de que o CPF esteja corretamente preenchido para evitar problemas com o pagamento. Para fazer alterações, basta acessar o seu perfil.</p>
                </div>
            </div>
            <!--/col-sm-4 -->

            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/devolver.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Devolução e reembolso</h4>
                    <p class="mb-0">Você tem até 07 (sete) dias após a compra para solicitar a devolução do ingresso, exceto nos 02 (dois) dias que antecedem o evento. O reembolso é efetuado integralmente e de forma automática pelo método de pagamento utilizado, em até 10 dias.</p>
                </div>
            </div>
            <!--/col-sm-4 -->
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/transferir.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Transferência do ingresso</h4>
                    <p class="mb-0">Você pode ceder o ingresso 01 (uma) única vez, desde que seja feito até 01 (um) dia antes do evento.</p>
                </div>
            </div>
            <!--/col-sm-4 -->

            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/search.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Onde acho meu ingresso?</h4>
                    <p class="mb-0">Após a confirmação do pagamento, seus ingressos estarão disponíveis no aplicativo. Apresente-os junto com um documento de identificação na entrada do evento. Você pode baixá-los em PDF ou mostrá-los diretamente no aplicativo. Um QR Code será escaneado na entrada.</p>
                </div>
            </div>
            <!--/col-sm-4 -->

            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/suporte.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Suporte</h4>
                    <p class="mb-0">Nosso suporte está sempre à disposição para ajudar você com qualquer dúvida ou necessidade, garantindo uma experiência tranquila e segura.</p>
                </div>
            </div>
            <!--/col-sm-4 -->
        </div>
        <!-- end row -->

        <button type="button" class="btn btn-primary waves-effect waves-light mt-2 me-1"><i class="fab fa-whatsapp"></i>&nbsp;Entre em contato</button>
    </div>
</section>
<meta name="ac:route" content="/evento/:id_evento">