<!-- Wappler include head-page="layouts/dashboard" is="dmx-app" id="eventos" appConnect="local" components="{dmxBootstrap5Navigation:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxFormatter:{},dmxTyped:{},dmxValidator:{},dmxDropzone:{}}" fontawesome_5pro="cdn" bootstrap5="custom" -->
<dmx-datetime id="data_hora_atual" interval="hours"></dmx-datetime>
<dmx-serverconnect id="sc_eventos" url="/api/eventos/listar_eventos"></dmx-serverconnect>
<dmx-value id="id_pass" dmx-bind:value="0"></dmx-value>
<dmx-notifications id="notifies1"></dmx-notifications>
<dmx-value id="var_step" dmx-bind:value="2"></dmx-value>
<div class="modal" id="novo_evento" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">NOVO EVENTO</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body pt-0 pb-0">

                <form is="dmx-serverconnect-form" id="sc_novo_evento" method="post" action="/api/eventos/novo_evento" dmx-generator="bootstrap5" dmx-form-type="vertical" dmx-on:success="sc_novo_evento.reset();notifies1.success('Evento cadastrado!');novo_evento.hide()">



                    <div class="row mt-1 mb-2" id="tabs">
                        <div class="col text-center">
                            <p style="border: 2px solid #0d6efd; background-color: white; color: #0d6efd; width: 30px; height: 30px; line-height: 26px; border-radius: 50%; margin: 0 auto; display: inline-block; font-weight: bold;" dmx-class:bg-primary="var_step.value==1" dmx-class:text-white="var_step.value==1">
                                1
                            </p>
                            <p style="margin-top: 5px; font-size: 12px; color: #0d6efd;">Geral</p>
                        </div>
                        <div class="col text-center">
                            <p style="border: 2px solid #0d6efd; background-color: white; color: #0d6efd; width: 30px; height: 30px; line-height: 26px; border-radius: 50%; margin: 0 auto; display: inline-block; font-weight: bold;" dmx-class:bg-primary="var_step.value==2" dmx-class:text-white="var_step.value==2">
                                2
                            </p>
                            <p style="margin-top: 5px; font-size: 12px; color: #0d6efd;">Geral</p>
                        </div>
                        <div class="col text-center">
                            <p style="border: 2px solid #0d6efd; background-color: white; color: #0d6efd; width: 30px; height: 30px; line-height: 26px; border-radius: 50%; margin: 0 auto; display: inline-block; font-weight: bold;" dmx-class:bg-primary="var_step.value==3" dmx-class:text-white="var_step.value==3">
                                3
                            </p>
                            <p style="margin-top: 5px; font-size: 12px; color: #0d6efd;">Geral</p>
                        </div>
                        <div class="col text-center">
                            <p style="border: 2px solid #0d6efd; background-color: white; color: #0d6efd; width: 30px; height: 30px; line-height: 26px; border-radius: 50%; margin: 0 auto; display: inline-block; font-weight: bold;" dmx-class:bg-primary="var_step.value==4" dmx-class:text-white="var_step.value==4">
                                4
                            </p>
                            <p style="margin-top: 5px; font-size: 12px; color: #0d6efd;">Geral</p>
                        </div>
                        <div class="col text-center">
                            <p style="border: 2px solid #0d6efd; background-color: white; color: #0d6efd; width: 30px; height: 30px; line-height: 26px; border-radius: 50%; margin: 0 auto; display: inline-block; font-weight: bold;" dmx-class:bg-primary="var_step.value==5" dmx-class:text-white="var_step.value==5">
                                5
                            </p>
                            <p style="margin-top: 5px; font-size: 12px; color: #0d6efd;">Geral</p>
                        </div>
                    </div>

                    <div class="row mt-2 mb-2" id="step1" dmx-show="var_step.value==1">
                        <div class="form-group mb-3">
                            <label for="inp_evento_nome">Nome do Evento</label>
                            <input type="text" class="form-control" id="inp_evento_nome" name="evento_nome" aria-describedby="inp_evento_nome_help" required="" data-msg-required="Preenchimento obrigatório">
                        </div>
                        <div class="col">
                            <div class="form-group mb-3">
                                <label for="inp_evento_data_hora">Data e hora do evento</label>
                                <input type="datetime-local" class="form-control" id="inp_evento_data_hora" name="evento_data_hora" aria-describedby="inp_evento_data_hora_help" required="" data-msg-required="Preenchimento obrigatório" dmx-bind:value="data_hora_atual.datetime">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-3">
                                <label for="inp_evento_local">Nome do Local do Evento</label>
                                <input type="text" class="form-control" id="inp_evento_local" name="evento_local" aria-describedby="inp_evento_local_help" required="" data-msg-required="Preenchimento obrigatório" value="Amazon Club">
                                <span class="font-13 text-muted">Ex: Amazon Club</span>
                            </div>
                        </div>


                        <div class="form-group mb-3">
                            <label for="inp_evento_resumo">Evento resumo</label>
                            <input type="text" class="form-control" id="inp_evento_resumo" name="evento_resumo" aria-describedby="inp_evento_resumo_help" required="" data-msg-required="Preenchimento obrigatório">
                            <span class="font-13 text-muted">Ex: A Maior festa da região.</span>
                        </div>
                        <div class="form-group mb-3">
                            <label for="inp_evento_descricao">Evento descrição</label>

                            <div class="form-group">
                                <textarea class="form-control" id="inp_evento_descricao" rows="3" name="evento_descricao" required="" data-msg-required="Preenchimento obrigatório"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2 mb-2" id="step2" dmx-show="var_step.value==2">
                        <div class="form-group mb-3">
                            <div class="row gap-1">
                                <div class="rounded-2 border-secondary-subtle text-center rounded-0 col-12 pt-1 pb-1 align-self-center">
                                    <div class="form-group mb-3 row">
                                        <div class="col-4">
                                            <img dmx-bind:src="novo_evento.sc_novo_evento.evento_banner_principal.file.dataUrl" class="img-fluid rounded shadow-sm">
                                        </div>
                                        <div class="col-sm-8 align-self-center text-start"><small id="input_bannerprimario" class="form-text text-muted">Banner principal *</small>
                                            <input type="file" class="form-control" id="evento_banner_principal" name="evento_banner_principal" aria-describedby="input_bannersecundario" required="" data-msg-required="Adicione uma imagem">

                                        </div>
                                    </div>

                                </div>
                                <div class="rounded-2 border-secondary-subtle col text-center rounded-0 pt-1 pb-1 align-self-center">
                                    <div class="form-group mb-3 row">
                                        <div class="col-4">
                                            <img dmx-bind:src="novo_evento.sc_novo_evento.evento_banner_secundario.file.dataUrl" class="img-fluid rounded shadow-sm">
                                        </div>
                                        <div class="col-sm-8 align-self-center text-start"><small id="input_bannersecundario" class="form-text text-muted">Banner secundario</small>
                                            <input type="file" class="form-control" id="evento_banner_secundario" name="evento_banner_secundario" aria-describedby="input_bannersecundario">

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row align-items-center gap-1">
                                <div class="align-self-center text-start col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="1" id="inp_tem_mapa" name="tem_mapa">
                                        <label class="form-check-label mt-0 mb-0" for="inp_tem_mapa">Adicionar Mapa do evento</label>
                                    </div>
                                </div>
                                <div class="rounded-2 border-secondary-subtle text-center col-12 pt-1 pb-1 align-self-center" dmx-show="novo_evento.sc_novo_evento.inp_tem_mapa.checked">
                                    <div class="form-group mb-3 row">
                                        <div class="col-4">
                                            <img dmx-bind:src="novo_evento.sc_novo_evento.mapa_imagem.file.dataUrl" class="img-fluid rounded shadow-sm">
                                        </div>
                                        <div class="col-sm-8 align-self-center"><small id="input1_help" class="form-text text-muted">Mapa do evento</small>
                                            <input type="file" class="form-control" id="mapa_imagem" name="mapa_imagem" aria-describedby="input_bannersecundario" dmx-bind:required="novo_evento.sc_novo_evento.inp_tem_mapa.checked" data-rule-maxsize="500" data-msg-maxsize="Tamanho máximo 500 bytes">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="row mt-2 mb-2" id="step3" dmx-show="var_step.value==3">
                        <div class="form-group mb-3">
                            <div class="row align-items-center">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" checked="true" id="inp_mostrar_whatsapp" name="mostrar_whatsapp" value="1">
                                        <label class="form-check-label mt-0 mb-0" for="inp_mostrar_whatsapp">Mostrar whatsapp?</label>
                                    </div>
                                </div>
                                <div class="col" dmx-show="modal1.serverconnectform1.inp_mostrar_whatsapp.checked"><label for="inp_numero_whatsapp">Número whatsapp</label><input type="text" class="form-control" id="inp_numero_whatsapp" name="numero_whatsapp" aria-describedby="inp_numero_whatsapp_help"></div>
                            </div>


                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" checked="true" id="inp_mostrar_sobre_evento" name="mostrar_sobre_evento" value="1">
                                        <label class="form-check-label" for="inp_mostrar_sobre_evento">Mostrar descrição do Evento</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" checked="true" id="inp_evento_destaque" name="evento_destaque" value="1">
                                        <label class="form-check-label" for="inp_evento_destaque">Destacar evento</label>
                                    </div>

                                </div>
                            </div>

                        </div>
                        <div class="form-group mb-3">

                            <select id="evento_status" class="form-select" dmx-bind:value="1" name="evento_status">
                                <option value="1">Publicar agora</option>
                                <option value="2">Publicar depois</option>
                            </select>
                        </div>
                        <div class="form-group mb-3">
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" checked="true" id="inp_pode_alterar_ingresso" name="pode_alterar_ingresso" value="1">
                                        <label class="form-check-label" for="inp_pode_alterar_ingresso">Pode alterar nome no ingresso</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" checked="true" id="inp_pode_devolver_ingresso" name="pode_devolver_ingresso" value="1">
                                        <label class="form-check-label" for="inp_pode_devolver_ingresso">Permitir reembolso</label>
                                    </div><small id="bs5-form-group-help1" class="form-text text-muted">Até 7 dias após a compra e menos de 48 horas antes do evento</small>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row" id="step4" dmx-show="var_step.value==4">
                        <div class="form-group mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" checked="true" id="inp_aceita_pix" name="aceita_pix" value="1">
                                <label class="form-check-label" for="inp_aceita_pix">Aceitar pagamento com Pix</label>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" checked="true" id="inp_aceita_cartao" name="aceita_cartao" value="1">
                                <label class="form-check-label" for="inp_aceita_cartao">Aceitar pagamentos com cartão de crédito</label>
                            </div>
                        </div>
                        <div class="form-group mb-3">

                            <label for="inp_qtide_parcelas_cartao">Quantidade de parcelas aceitas no cartão</label>
                            <select id="qtide_parcelas_cartao" class="form-select" name="qtide_parcelas_cartao" dmx-bind:value="1">
                                <option value="1">Somente à vista</option>
                                <option value="2">até 2x</option>
                                <option value="3">até 3x</option>
                                <option value="4">até 4x</option>
                                <option value="5">até 5x</option>
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-end align-items-center mb-3">
                        <div class="col-auto"><button id="btn6" class="btn" dmx-on:click="var_step.setValue(var_step.value-1)" dmx-hide="var_step.value==1">Voltar</button></div>
                        <div class="col-auto"><button id="btn7" class="btn btn-info" dmx-on:click="var_step.setValue(var_step.value+1)" dmx-hide="var_step.value==4" dmx-class:disabled="(novo_evento.sc_novo_evento.inp_evento_descricao.value.isEmpty() || novo_evento.sc_novo_evento.inp_evento_resumo.value.isEmpty() || novo_evento.sc_novo_evento.inp_evento_nome.value.isEmpty() || novo_evento.sc_novo_evento.inp_evento_local.value.isEmpty() || novo_evento.sc_novo_evento.inp_evento_data_hora.value.isEmpty())&amp;&amp;(var_step.value == 1)">Próximo</button></div>
                        <div class="col-auto"><button type="submit" class="btn btn-primary btn-lg" dmx-show="var_step.value==4">Criar evento</button></div>
                    </div>




















                </form>

            </div>

        </div>
    </div>
</div>
<meta name="ac:route" content="/eventos">
<div class="card page-title-box rounded-0">
    <div class="d-flex justify-content-between align-items-center">
        <h4 class="font-18 fw-semibold mb-0">EVENTOS</h4><button type="button" class="btn btn-primary waves-effect waves-light ms-2" dmx-on:click="novo_evento.show()"><span class="btn-label"><i class="mdi mdi-plus"></i>
            </span>Novo evento</button>
    </div>
</div>
<div class="card-body pt-2">
    <ul class="nav nav-tabs mb-3" role="tablist">
        <li class="nav-item" role="presentation">
            <a href="#home" data-bs-toggle="tab" aria-expanded="false" class="nav-link  active" aria-selected="false" role="tab" tabindex="-1">Eventos On-Line</a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="#profile" data-bs-toggle="tab" aria-expanded="true" class="nav-link" aria-selected="true" role="tab">Eventos Finalizados</a>
        </li>
        <li class="nav-item" role="presentation">
            <a href="#settings" data-bs-toggle="tab" aria-expanded="false" class="nav-link" aria-selected="false" tabindex="-1" role="tab">Todos os Eventos</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active show" id="home" role="tabpanel">
            <div class="card-body pt-2">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-12 col-xl-12">
                            <div class="card">
                                <div class="card-body pt-2">
                                    <div class="row">
                                        <div class="col">
                                            <div class="card-body pt-2">
                                                <div class="table-responsive">
                                                    <table class="table table-hover m-0 table-actions-bar">

                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <div class="btn-group dropdown">
                                                                        <div class="dropdown-menu">
                                                                            <a class="dropdown-item" href="#">Dropdown link</a>
                                                                            <a class="dropdown-item" href="#">Dropdown link</a>
                                                                        </div>
                                                                    </div>
                                                                </th>
                                                                <th>Name</th>
                                                                <th>Local</th>
                                                                <th>Data /Horário</th>
                                                                <th>Público</th>
                                                                <th class="text-center">Ativo</th>
                                                                <th class="text-center">Destaque</th>
                                                                <th class="text-center">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody is="dmx-repeat" id="repeat1" dmx-bind:repeat="sc_eventos.data.query.data" key="id">

                                                            <tr>
                                                                <td>
                                                                    <img src="assets/images/users/avatar-5.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm">
                                                                </td>

                                                                <td>
                                                                    <h5 class="m-0 fw-medium">{{evento_nome}}</h5>
                                                                </td>

                                                                <td><i class="mdi mdi-map-marker text-primary"></i>{{evento_local}}</td>

                                                                <td><i class="mdi mdi-clock-outline text-success"></i>{{' '+evento_data_hora.formatDate('dd/MM/yy')}}</td>

                                                                <td><i class="mdi mdi-currency-usd text-warning"></i> 500</td>
                                                                <td class="text-center">
                                                                    <style>
                                                                        .form-switch .form-check-input {
                                                                            width: 3em !important;
                                                                            height: 1.5em !important;
                                                                        }

                                                                        .form-switch .form-check-input:not(:checked) {
                                                                            background-color: #e2e2e2 !important;
                                                                            border-color: #d0d0d0 !important;
                                                                            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0, 0, 0, 0.25)'/%3e%3c/svg%3e") !important;
                                                                        }
                                                                    </style>
                                                                    <div class="form-check form-switch">
                                                                        <input class="form-check-input ms-0 me-0" type="checkbox" role="switch" id="togg_ativo" dmx-bind:checked="evento_status==1" style="cursor: pointer;" name="togg_ativo">

                                                                    </div>
                                                                </td>
                                                                <td class="text-center">
                                                                    <style>
                                                                        .form-switch .form-check-input {
                                                                            width: 3em !important;
                                                                            height: 1.5em !important;
                                                                        }

                                                                        .form-switch .form-check-input:not(:checked) {
                                                                            background-color: #e2e2e2 !important;
                                                                            border-color: #d0d0d0 !important;
                                                                            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0, 0, 0, 0.25)'/%3e%3c/svg%3e") !important;
                                                                        }
                                                                    </style>
                                                                    <div class="form-check form-switch">
                                                                        <input class="form-check-input ms-0 me-0" type="checkbox" role="switch" id="togg_destaque" dmx-bind:checked="evento_destaque" style="cursor: pointer;" name="togg_destaque">
                                                                    </div>
                                                                </td>

                                                                <td class="text-center"><button id="btn9" class="btn btn-sm" dmx-on:click="browser1.goto('/adm_evento/'+id)">
                                                                        <i class="mdi mdi-chevron-right fa-2x"></i>
                                                                        <br></button></td>
                                                            </tr>


                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end col -->



                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane " id="profile" role="tabpanel">
            <p class="mb-0"><span class="px-1 rounded me-1 fw-semibold d-inline-block bg-danger-subtle text-danger float-start">P</span> "Hi there! I'm a passionate individual who loves to explore new ideas and connect with like-minded people. My interests span a wide range of topics including technology, literature, travel, and fitness. I believe in the power of continuous learning and enjoy challenging myself to grow both personally and professionally.</p>
        </div>
        <div class="tab-pane" id="settings" role="tabpanel">
            <p class="mb-0"><span class="px-1 rounded me-1 fw-semibold d-inline-block bg-secondary-subtle text-secondary float-start">S</span>In the heart of a bustling city lies a quaint little cafe, nestled between towering skyscrapers and historic buildings. Its cozy interior boasts warm, earthy tones accented with splashes of vibrant colors, creating a welcoming atmosphere that beckons passersby to step inside.</p>
        </div>
    </div>

</div>