<!-- Wappler include head-page="layouts/dashboard" fontawesome_5="cdn" bootstrap5="custom" is="dmx-app" id="home" appConnect="local" components="{dmxBootstrap5Navigation:{}}" -->
<div class="container mt-3">
    <div class="row">
        <div class="col-xl-2 col-sm-2">
            <div>
                <div class="card pt-2 pb-2 ps-2 pe-2">
                    <div class="d-flex justify-content-between">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-account-convert avatar-title font-20 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body text-end text-truncate">
                            <p class="m-0 text-uppercase fw-medium text-truncate" title="Statistics">transações</p>
                            <h3 class="fw-medium my-2"><span data-plugin="counterup">65.841</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->

        <div class="col-xl-2 col-sm-2">
            <div>
                <div class="card pt-2 pb-2 ps-2 pe-2">
                    <div class="d-flex justify-content-between">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-sync avatar-title font-20 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body text-end text-truncate">
                            <p class="m-0 text-uppercase fw-medium text-truncate" title="Statistics">Devoluções</p>
                            <h3 class="fw-medium my-2"><span data-plugin="counterup">35</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->

        <div class="col-xl-2 col-sm-2">
            <div>
                <div class="card pt-2 pb-2 ps-2 pe-2">
                    <div class="d-flex justify-content-between">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-gift-open avatar-title font-20 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body text-end text-truncate">
                            <p class="m-0 text-uppercase fw-medium text-truncate" title="Statistics">cortesias</p>
                            <h3 class="fw-medium my-2"><span data-plugin="counterup">120</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->

        <div class="col-xl-2 col-sm-2">
            <div>
                <div class="card pt-2 pb-2 ps-2 pe-2">
                    <div class="d-flex justify-content-between">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-account-multiple avatar-title font-20 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body text-end text-truncate">
                            <p class="m-0 text-uppercase fw-medium text-truncate" title="Statistics">usuários</p>
                            <h3 class="fw-medium my-2">1.200</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-sm-2">
            <div>
                <div class="card pt-2 pb-2 ps-2 pe-2">
                    <div class="d-flex justify-content-between">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-cash-sync avatar-title font-20 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body text-end text-truncate">
                            <p class="m-0 text-uppercase fw-medium text-truncate" title="Statistics">PIX</p>
                            <h3 class="fw-medium my-2">1.200</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-sm-2">
            <div>
                <div class="card pt-2 pb-2 ps-2 pe-2">
                    <div class="d-flex justify-content-between">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-credit-card avatar-title font-20 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body text-end text-truncate">
                            <p class="m-0 text-uppercase fw-medium text-truncate" title="Statistics">CRÉDITO</p>
                            <h3 class="fw-medium my-2">1.200</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title mb-0">ÚLTIMAS VENDAS</h4>
                </div>
                <div class="card-body pt-2">
                    <div class="table-responsive">
                        <table class="table table-hover m-0 table-actions-bar">

                            <thead>
                                <tr>
                                    <th>
                                        <div class="btn-group dropdown">
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Dropdown link</a>
                                                <a class="dropdown-item" href="#">Dropdown link</a>
                                            </div>
                                        </div>
                                    </th>
                                    <th>Name</th>
                                    <th>Ingresso</th>
                                    <th>Evento</th>
                                    <th>Data</th>
                                    <th>Pag</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="assets/images/users/avatar-2.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                    </td>

                                    <td>
                                        <h5 class="m-0 fw-medium">Aleff Cabral Feliciano&nbsp;</h5>
                                    </td>

                                    <td>Réveillon (1º Lote)
                                        <br>R$ 50,00
                                    </td>

                                    <td>Réveillon dos Desejos</td>

                                    <td>
                                        <i class="mdi mdi-calendar-clock text-warning"></i> 3265
                                    </td>

                                    <td>
                                        <a href="#" class="table-action-btn"></a>
                                        <a href="#" class="table-action-btn"><i class="mdi mdi-cash-sync"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <img src="assets/images/users/avatar-3.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                    </td>

                                    <td>
                                        <h5 class="m-0 fw-medium">Thifany Malmhan&nbsp;</h5>
                                    </td>

                                    <td>Réveillon (1º Lote)
                                        <br>R$ 50,00
                                    </td>

                                    <td>Réveillon dos Desejos</td>

                                    <td>
                                        <i class="mdi mdi-calendar-clock text-warning"></i> 1365
                                    </td>

                                    <td>
                                        <a href="#" class="table-action-btn"></a>
                                        <a href="#" class="table-action-btn"><i class="mdi mdi-gift"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="assets/images/users/avatar-4.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                    </td>

                                    <td>
                                        <h5 class="m-0 fw-medium">Gustavo Belo Brizolla&nbsp;</h5>
                                    </td>

                                    <td>Réveillon (1º Lote)
                                        <br>R$ 50,00
                                    </td>

                                    <td>Réveillon dos Desejos</td>

                                    <td>
                                        <i class="mdi mdi-calendar-clock text-warning"></i> 115248
                                    </td>

                                    <td>
                                        <a href="#" class="table-action-btn"></a>
                                        <a href="#" class="table-action-btn"><i class="mdi mdi-credit-card"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="assets/images/users/avatar-5.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                    </td>

                                    <td>
                                        <h5 class="m-0 fw-medium">Jose D. Delacruz</h5>
                                    </td>

                                    <td>New Réveillon (1º Lote)
                                        <br>R$ 50,00
                                    </td>

                                    <td>Réveillon dos Desejos</td>

                                    <td>
                                        <i class="mdi mdi-calendar-clock text-warning"></i> 2451
                                    </td>

                                    <td>
                                        <a href="#" class="table-action-btn"></a>
                                        <a href="#" class="table-action-btn"><i class="mdi mdi-gift"></i></a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <img src="assets/images/users/avatar-8.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-sm" />
                                    </td>

                                    <td>
                                        <h5 class="m-0 fw-medium">Simoni Mari de Barros&nbsp;</h5>
                                    </td>

                                    <td>Réveillon (1º Lote)
                                        <br>R$ 50,00
                                    </td>

                                    <td>Réveillon dos Desejos</td>

                                    <td>
                                        <i class="mdi mdi-calendar-clock text-warning"></i> 3265
                                    </td>

                                    <td>
                                        <a href="#" class="table-action-btn"></a>
                                        <a href="#" class="table-action-btn"><i class="mdi mdi-credit-card"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- end col -->

        <div class="col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">vISITANTES NA PAGINA</h4>
                </div>
                <div class="card-body pt-2">
                    <div class="widget-chart text-center" dir="ltr">


                        <div class="row text-center mt-4">
                            <div class="col-6">
                                <h3 data-plugin="counterup" class="fw-semibold">1,507</h3>
                                <p class="text-muted mb-0">Visitors Male</p>
                            </div>
                            <div class="col-6">
                                <h3 data-plugin="counterup" class="fw-semibold">854</h3>
                                <p class="text-muted mb-1">Visitors Female</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">pÚBLICO</h4>
                </div>
                <div class="card-body pt-2">
                    <div class="widget-chart text-center" dir="ltr">


                        <div class="row text-center mt-4">
                            <div class="col-6">
                                <h3 data-plugin="counterup" class="fw-semibold">821</h3>
                                <p class="text-muted mb-0">Masc</p>
                            </div>
                            <div class="col-6">
                                <h3 data-plugin="counterup" class="fw-semibold">430</h3>
                                <p class="text-muted mb-1">Fem</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<meta name="ac:route" content="/home">


<!-- end row -->


<!-- end row -->