<!-- Wappler include head-page="layouts/dashboard" fontawesome_5="cdn" bootstrap5="custom" is="dmx-app" id="home" appConnect="local" components="{dmxBootstrap5Navigation:{},dmxFormatter:{}}" -->
<dmx-serverconnect id="sc_dados" url="/api/dashboard/home"></dmx-serverconnect>
<div class="container mt-3">
    <div class="row">
        <div class="col-xl-2 col-sm-2">
            <div>
                <div class="card pt-2 pb-2 ps-2 pe-2">
                    <div class="d-flex justify-content-between">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-account-convert avatar-title font-20 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body text-end text-truncate">
                            <p class="m-0 text-uppercase fw-medium text-truncate" title="Statistics">transações</p>
                            <h3 class="fw-medium my-2"><span data-plugin="counterup">65.841</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->

        <div class="col-xl-2 col-sm-2">
            <div>
                <div class="card pt-2 pb-2 ps-2 pe-2">
                    <div class="d-flex justify-content-between">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-sync avatar-title font-20 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body text-end text-truncate">
                            <p class="m-0 text-uppercase fw-medium text-truncate" title="Statistics">Devoluções</p>
                            <h3 class="fw-medium my-2"><span data-plugin="counterup">{{sc_dados.data.devolucoes[0].total_devolucoes}}</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->

        <div class="col-xl-2 col-sm-2">
            <div>
                <div class="card pt-2 pb-2 ps-2 pe-2">
                    <div class="d-flex justify-content-between">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-gift-open avatar-title font-20 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body text-end text-truncate">
                            <p class="m-0 text-uppercase fw-medium text-truncate" title="Statistics">cortesias</p>
                            <h3 class="fw-medium my-2"><span data-plugin="counterup">{{sc_dados.data.cortesias[0].total_cortesias}}</span></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->

        <div class="col-xl-2 col-sm-2">
            <div>
                <div class="card pt-2 pb-2 ps-2 pe-2">
                    <div class="d-flex justify-content-between">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-account-multiple avatar-title font-20 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body text-end text-truncate">
                            <p class="m-0 text-uppercase fw-medium text-truncate" title="Statistics">usuários</p>
                            <h3 class="fw-medium my-2">{{sc_dados.data.usuarios[0].total_usuarios}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-sm-2">
            <div>
                <div class="card pt-2 pb-2 ps-2 pe-2">
                    <div class="d-flex justify-content-between">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-cash-sync avatar-title font-20 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body text-end text-truncate">
                            <p class="m-0 text-uppercase fw-medium text-truncate" title="Statistics">PIX</p>
                            <h3 class="fw-medium my-2">{{sc_dados.data.vendas_pix[0].quantidade_pix}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-sm-2">
            <div>
                <div class="card pt-2 pb-2 ps-2 pe-2">
                    <div class="d-flex justify-content-between">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-credit-card avatar-title font-20 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body text-end text-truncate">
                            <p class="m-0 text-uppercase fw-medium text-truncate" title="Statistics">CRÉDITO</p>
                            <h3 class="fw-medium my-2">{{sc_dados.data.vendas_credito[0].quantidade_credito}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title mb-0">ÚLTIMAS VENDAS</h4>
                </div>
                <div class="card-body pt-2">
                    <div class="table-responsive">
                        <table class="table table-hover m-0 table-actions-bar">

                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Item</th>
                                    <th>Evento</th>
                                    <th>Data</th>
                                    <th>Pag</th>
                                </tr>
                            </thead>
                            <tbody is="dmx-repeat" id="ultimas_vendas" dmx-bind:repeat="sc_dados.data.ultimas_vendas.data">
                                <tr>

                                    <td>
                                        <h5 class="m-0 fw-medium">{{nome_participante}}</h5>
                                    </td>

                                    <td>{{produto_nome}}<br><i class="fas fa-solid fa-ticket  text-info"></i>&nbsp;{{(valor_final /100).formatCurrency('R$ ', ',', '.', 2)}}</td>

                                    <td>{{evento_nome}}</td>

                                    <td><i class="mdi mdi-calendar-clock text-warning"></i>&nbsp;{{data_criacao.formatDate("dd/MM/yyyy HH:mm")}}</td>

                                    <td class="text-center">
                                        <i class="fas fa-credit-card fa-lg" dmx-show="forma_pagamento_id==2"></i>
                                        <i class="fas fa-brands fa-pix text-success fa-lg" dmx-show="forma_pagamento_id==1"></i>
                                        <i class="fas fa-gift text-pink fa-lg" dmx-show="forma_pagamento_id==6"></i>
                                    </td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- end col -->

        <div class="col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">vISITANTES NA PAGINA</h4>
                </div>
                <div class="card-body pt-2">
                    <div class="widget-chart text-center" dir="ltr">


                        <div class="row text-center mt-4">
                            <div class="col-6">
                                <h3 data-plugin="counterup" class="fw-semibold">1,507</h3>
                                <p class="text-muted mb-0">Visitors Male</p>
                            </div>
                            <div class="col-6">
                                <h3 data-plugin="counterup" class="fw-semibold">854</h3>
                                <p class="text-muted mb-1">Visitors Female</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-6 col-lg-6">
            <div class="card">
                <div class="card-header">
                    <h4 class="header-title">USUÁRIOS</h4>
                </div>
                <div class="card-body pt-2">
                    <div class="widget-chart text-center" dir="ltr">


                        <div class="row text-center mt-4">
                            <div class="col-6">
                                <h3 data-plugin="counterup" class="fw-semibold">821</h3>
                                <p class="text-muted mb-0">Masc</p>
                            </div>
                            <div class="col-6">
                                <h3 data-plugin="counterup" class="fw-semibold">430</h3>
                                <p class="text-muted mb-1">Fem</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<meta name="ac:route" content="/home">


<!-- end row -->


<!-- end row -->