<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" id="index" components="{dmxSlideshow:{},dmxSwiper:{}}" is="dmx-app" appConnect="local" -->
<dmx-datetime id="var1"></dmx-datetime>

<section id="home" class="w-100">
    <dmx-slideshow id="slideshow1" show-nav="true" show-paging="true">
        <dmx-slide id="slide2">
            <div class="row justify-content-between">
                <div class="col-lg-6 col-xxl mt-xxl-0">
                    <div class="title-heading mt-5">
                        <h4 class="sub-title">09 dez 2024</h4>
                        <h1 class="Display 1 fw-bold" style="font-size: 60px;">ASDASD</h1>


                        <h3 class="text-muted fw-bold">A maior festa do ano no Amazon Club</h3>
                        <h6 class="text-muted mt-3">
                            <p><span style="color: var(--bs-secondary-color); font-size: 1rem; background-color: var(--bs-body-bg); font-family: var(--bs-body-font-family); text-align: var(--bs-body-text-align);">+ 12 horas de festas</span><br></p>
                            <p><span style="color: var(--bs-secondary-color); font-size: 1rem; background-color: var(--bs-body-bg); font-family: var(--bs-body-font-family); text-align: var(--bs-body-text-align);">Line-up com + de 12 artistas</span><br></p>
                            <p><span style="color: var(--bs-secondary-color); font-size: 1rem; background-color: var(--bs-body-bg); font-family: var(--bs-body-font-family); text-align: var(--bs-body-text-align);">Novas experiências desbloqueadas</span><br></p>
                            <p><span style="color: var(--bs-secondary-color); font-size: 1rem; background-color: var(--bs-body-bg); font-family: var(--bs-body-font-family); text-align: var(--bs-body-text-align);">Será uma noite&nbsp;histórica!</span><br></p>
                        </h6>

                        <div class="row text-center mt-5 gx-2 justify-content-start">
                            <div class="col-2 border-end">
                                <div class="">
                                    <h2 id="days1" class="text-primary fw-bold">45</h2>
                                    <h6 class="fw-light">Dias</h6>
                                </div>
                            </div>
                            <div class="col-2 border-end">
                                <div class="">
                                    <h2 id="hours1" class="text-primary fw-bold">11</h2>
                                    <h6 class="fw-light">Horas</h6>
                                </div>
                            </div>
                            <div class="col-2 border-end">
                                <div class="">
                                    <h2 id="minutes1" class="text-primary fw-bold">2</h2>
                                    <h6 class="fw-light">Minutos</h6>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <h2 id="seconds1" class="text-primary fw-bold">16</h2>
                                    <h6 class="fw-light">Segundos</h6>
                                </div>
                            </div>
                        </div>

                        <div class="g-3 mt-3 pt-2">
                            <a class="btn btn-primary rounded btn-lg mb-2 me-4">Comprar ingressos</a>
                            <a class="btn btn-outline-primary rounded mb-2 btn-lg">Mais informações</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="/assets/images/banners_eventos/vitorlou.png">
                </div>
            </div>
        </dmx-slide>
        <dmx-slide id="slide1">
            <div class="row justify-content-between">
                <div class="col-lg-6 col-xxl mt-xxl-0">
                    <div class="title-heading mt-5">
                        <h4 class="sub-title">09 dez 2024</h4>
                        <h1 class="Display 1 fw-bold" style="font-size: 60px;">Victor Lou [longset]</h1>


                        <h3 class="text-muted fw-bold">A maior festa do ano no Amazon Club</h3>
                        <h6 class="text-muted mt-3">
                            <p><span style="color: var(--bs-secondary-color); font-size: 1rem; background-color: var(--bs-body-bg); font-family: var(--bs-body-font-family); text-align: var(--bs-body-text-align);">+ 12 horas de festas</span><br></p>
                            <p><span style="color: var(--bs-secondary-color); font-size: 1rem; background-color: var(--bs-body-bg); font-family: var(--bs-body-font-family); text-align: var(--bs-body-text-align);">Line-up com + de 12 artistas</span><br></p>
                            <p><span style="color: var(--bs-secondary-color); font-size: 1rem; background-color: var(--bs-body-bg); font-family: var(--bs-body-font-family); text-align: var(--bs-body-text-align);">Novas experiências desbloqueadas</span><br></p>
                            <p><span style="color: var(--bs-secondary-color); font-size: 1rem; background-color: var(--bs-body-bg); font-family: var(--bs-body-font-family); text-align: var(--bs-body-text-align);">Será uma noite&nbsp;histórica!</span><br></p>
                        </h6>

                        <div class="row text-center mt-5 gx-2 justify-content-start">
                            <div class="col-2 border-end">
                                <div class="">
                                    <h2 id="days" class="text-primary fw-bold">45</h2>
                                    <h6 class="fw-light">Dias</h6>
                                </div>
                            </div>
                            <div class="col-2 border-end">
                                <div class="">
                                    <h2 id="hours" class="text-primary fw-bold">11</h2>
                                    <h6 class="fw-light">Horas</h6>
                                </div>
                            </div>
                            <div class="col-2 border-end">
                                <div class="">
                                    <h2 id="minutes" class="text-primary fw-bold">2</h2>
                                    <h6 class="fw-light">Minutos</h6>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="">
                                    <h2 id="seconds" class="text-primary fw-bold">16</h2>
                                    <h6 class="fw-light">Segundos</h6>
                                </div>
                            </div>
                        </div>

                        <div class="g-3 mt-3 pt-2">
                            <a class="btn btn-primary rounded btn-lg mb-2 me-4">Comprar ingressos</a>
                            <a class="btn btn-outline-primary rounded mb-2 btn-lg">Mais informações</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <img src="/assets/images/banners_eventos/vitorlou.png">
                </div>
            </div>
        </dmx-slide>
    </dmx-slideshow>

</section>
<section id="eventos" class="w-100">
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-sm-4">
                <div class="card d-flex flex-row">
                    <!-- Imagem na esquerda -->
                    <img class="card-img-left img-fluid" style="max-height: 200px; object-fit: contain; width: auto; background-color: #f8f9fa;" alt="Card image cap" src="/assets/images/banners_eventos/vitorlou.png">

                    <!-- Conteúdo na direita -->
                    <div class="card-body">
                        <h4 class="card-title">Victor Lou [longset]</h4>
                        <p class="card-text">A maior festa do ano no Amazon Club</p>
                        <a href="#" class="btn btn-primary">Ver mais</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card d-flex flex-row mt-1 mb-1">
                    <!-- Imagem na esquerda -->
                    <img class="card-img-left img-fluid" style="max-height: 200px; object-fit: contain; width: auto; background-color: #f8f9fa;" alt="Card image cap" src="/assets/images/banners_eventos/vitorlou.png">

                    <!-- Conteúdo na direita -->
                    <div class="card-body">
                        <h4 class="card-title">Victor Lou [longset]</h4>
                        <p class="card-text">A maior festa do ano no Amazon Club</p>
                        <a href="#" class="btn btn-primary">Ver mais</a>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>
<section id="informacoes">
    <div class="container">

        <div class="row text-center">
            <div class="col-sm-12">
                <h2 class="title">Informações</h2>
                <p class="slogan">Você sempre atualizado</p>
            </div>
        </div>
        <!-- end row -->

        <div class="row p-t-50">
            <div class="col-sm-4">
                <div class="d-flex align-items-center flex-row gap-2 mb-2"><img src="/assets/images/banners_eventos/vitorlou.png" height="100">
                    <h5 class="text-center">Prepare-se para a Noite de Energia!</h5>
                </div>

                <div class="question-box">

                    <p>Hoje, o Amazon Club recebe o DJ [Nome Famoso] com os maiores hits da cena eletrônica. Não perca a vibe! Garanta seu ingresso agora.</p>
                    <p class="text-end text-secondary">22 ago 2024</p>
                </div>

                <div class="question-box">
                </div>

                <div class="question-box">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex align-items-center flex-row gap-2 mb-2"><img src="/assets/images/banners_eventos/djevento.png" height="100">
                    <h5 class="text-center">Experiência Única com [Nome do DJ]!</h5>
                </div>

                <div class="question-box">

                    <p>Amanhã é dia de balada! Ritmos eletrônicos, luzes incríveis e uma vibe inesquecível te esperam no Amazon Club. Corra antes que os ingressos acabem!</p>
                    <p class="text-end text-secondary">22 ago 2024</p>
                </div>

                <div class="question-box">
                </div>

                <div class="question-box">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex align-items-center flex-row gap-2 mb-2"><img src="/assets/images/banners_eventos/djevento.png" height="100">
                    <h5 class="text-center">Experiência Única com [Nome do DJ]!</h5>
                </div>

                <div class="question-box">

                    <p>Amanhã é dia de balada! Ritmos eletrônicos, luzes incríveis e uma vibe inesquecível te esperam no Amazon Club. Corra antes que os ingressos acabem!</p>
                    <p class="text-end text-secondary">22 ago 2024</p>
                </div>

                <div class="question-box">
                </div>

                <div class="question-box">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex align-items-center flex-row gap-2 mb-2"><img src="/assets/images/banners_eventos/djevento.png" height="100">
                    <h5 class="text-center">Experiência Única com [Nome do DJ]!</h5>
                </div>

                <div class="question-box">

                    <p>Amanhã é dia de balada! Ritmos eletrônicos, luzes incríveis e uma vibe inesquecível te esperam no Amazon Club. Corra antes que os ingressos acabem!</p>
                    <p class="text-end text-secondary">22 ago 2024</p>
                </div>

                <div class="question-box">
                </div>

                <div class="question-box">
                </div>
            </div>


        </div>


    </div> <!-- end Container -->
</section>
<section id="faq" class="w-100">
    <div class="card-body text-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt-3">
                    <h3 class="fw-semibold">Perguntas frequentes</h3>
                    <p class="text-muted mt-3 mb-2">Se você tem dúvidas, confira abaixo as respostas para as perguntas mais comuns. Caso não encontre o que procura, entre em contato conosco.</p>



                </div>
            </div><!-- end col -->
        </div><!-- end row -->


        <div class="row mt-4">
            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/ingresso.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Os ingressos são nominais?</h4>
                    <p class="mb-0">Sim. A entrada no evento só é permitida ao portador do ingresso, que deve apresentar um documento de identificação oficial correspondente ao CPF e nome registrados no ingresso.</p>
                </div>
            </div>
            <!--/col-sm-4 -->

            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/edit.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Porque o CPF no ingresso?</h4>
                    <p class="mb-0">Para as transações de compra, é utilizado o CPF do usuário logado. Certifique-se de que o CPF esteja corretamente preenchido para evitar problemas com o pagamento. Para fazer alterações, basta acessar o seu perfil.</p>
                </div>
            </div>
            <!--/col-sm-4 -->

            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/devolver.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Devolução e reembolso</h4>
                    <p class="mb-0">Você tem até 07 (sete) dias após a compra para solicitar a devolução do ingresso, exceto nos 02 (dois) dias que antecedem o evento. O reembolso é efetuado integralmente e de forma automática pelo método de pagamento utilizado, em até 10 dias.</p>
                </div>
            </div>
            <!--/col-sm-4 -->
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/transferir.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Transferência do ingresso</h4>
                    <p class="mb-0">Você pode ceder o ingresso 01 (uma) única vez, desde que seja feito até 01 (um) dia antes do evento.</p>
                </div>
            </div>
            <!--/col-sm-4 -->

            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/search.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Onde acho meu ingresso?</h4>
                    <p class="mb-0">Após a confirmação do pagamento, seus ingressos estarão disponíveis no aplicativo. Apresente-os junto com um documento de identificação na entrada do evento. Você pode baixá-los em PDF ou mostrá-los diretamente no aplicativo. Um QR Code será escaneado na entrada.</p>
                </div>
            </div>
            <!--/col-sm-4 -->

            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/suporte.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Suporte</h4>
                    <p class="mb-0">Nosso suporte está sempre à disposição para ajudar você com qualquer dúvida ou necessidade, garantindo uma experiência tranquila e segura.</p>
                </div>
            </div>
            <!--/col-sm-4 -->
        </div>
        <!-- end row -->

        <button type="button" class="btn btn-primary waves-effect waves-light mt-2 me-1"><i class="fab fa-whatsapp"></i>&nbsp;Entre em contato</button>
    </div>
</section>
<meta name="ac:route" content="/">