<!-- Wappler include head-page="layouts/homepage" bootstrap5="custom" is="dmx-app" id="comeco" appConnect="local" components="{dmxSwiper:{},dmxFormatter:{},dmxTyped:{},dmxSlideshow:{},dmxFormRepeat:{}}" fontawesome_6="local" -->
<dmx-datetime id="var1"></dmx-datetime>
<meta name="ac:route" content="/index">
<section id="eventos" class="min-vh-100">
    <section id="eventos" class="min-vh-100 d-flex align-items-stretch">
        <div class="container-fluid min-vh-100">
            <div is="dmx-swiper" id="swiper1" class="h-85" dmx-bind:slides="sc_listar_eventos.data.query.data" autoplay="true" loop="true">
                <div class="swiper-slide h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Coluna Esquerda (Texto e Descrição) -->
                        <div class="col-lg-8 d-flex col flex-column">

                            <!-- Parte Superior (Título, Subtítulo, Data) -->
                            <div>
                                <div class="mt-5 text-center">
                                    <!-- Data do evento -->
                                    <h4 class="sub-title text-center text-md-start text-lg-start text-xl-start text-xxl-start">{{evento_data_hora.formatDate('dd MMM yyyy')}}</h4>

                                    <!-- Nome do evento -->
                                    <h1 class="display-1 fw-bold text-center text-md-start text-lg-start text-xl-start text-xxl-start" style="font-size: 60px;">{{evento_nome}}</h1>


                                    <!-- Resumo do evento -->
                                    <h3 class="text-muted fw-bold text-md-start text-lg-start text-xl-start text-xxl-start h-75">{{evento_resumo}}</h3>

                                    <!-- Descrição com limite de 5 linhas, espaçamento maior entre as linhas e reticências -->
                                    <div class="d-flex justify-content-md-start justify-content-lg-start justify-content-xl-start justify-content-xxl-start justify-content-center mb-3">
                                        <h5 class="text-muted text-md-start text-lg-start text-xxl-start mt-3 w-75 fw-light text-xl-start text-sm-center text-center" style="line-height: 1.75; max-height: calc(1.75em * 5); overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;">
                                            {{evento_descricao}}
                                        </h5>
                                    </div>



                                </div>

                            </div>
                            <!-- Parte Inferior (Contagem Regressiva e Botões) -->
                            <div class="row" dmx-show="(((var1.datetime.secondsUntil(evento_data_hora)/60)%60)).floor()&lt;0">
                                <div class="col">
                                    <p style="font-size: 30px;" class="text-primary fw-bold">Evento Realizado</p>
                                </div>
                            </div>
                            <div class="row text-center mt-auto mb-4 justify-content-xxl-start justify-content-center justify-content-xl-start justify-content-lg-start justify-content-md-start justify-content-sm-start" id="contagem_regressiva" dmx-hide="(((var1.datetime.secondsUntil(evento_data_hora)/60)%60)).floor()&lt;0">
                                <div class="border-end align-self-center col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
                                    <h2 id="days2" class="text-primary fw-bold">{{(((var1.datetime.secondsUntil(evento_data_hora))/ 86400)%365).floor()}}</h2>
                                    <h6 class="fw-light">Dias</h6>
                                </div>
                                <div class="border-end align-self-center col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
                                    <h2 id="hours2" class="text-primary fw-bold">{{(((var1.datetime.secondsUntil(evento_data_hora)/3600)%24)).floor()}}</h2>
                                    <h6 class="fw-light">Horas</h6>
                                </div>
                                <div class="border-end align-self-center col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
                                    <h2 id="minutes2" class="text-primary fw-bold">{{(((var1.datetime.secondsUntil(evento_data_hora)/60)%60)).floor()}}</h2>
                                    <h6 class="fw-light">Minutos</h6>
                                </div>
                                <div class="align-self-center col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-3 col-3">
                                    <h2 id="seconds2" class="text-primary fw-bold">{{(((var1.datetime.secondsUntil(evento_data_hora)%60))).floor()}}</h2>
                                    <h6 class="fw-light">Segundos</h6>
                                </div>
                                <div class="align-self-center col-xl-2 col-lg-2 col-sm-6 col-6 col-xxl-4">
                                    <a class="btn btn-primary rounded mt-3 pt-2 pb-2 btn-lg mt-xxl-0" dmx-on:click="browser1.goto('/evento/'+id)">Comprar Ingressos</a>
                                </div>
                            </div>

                        </div>
                        <!-- Coluna Direita (Imagem) -->
                        <div class="col-lg-4 d-flex align-items-center justify-content-center col-12 h-100">
                            <img class="pt-2 pb-2 ps-2 pe-1 img-fluid" style="object-fit: cover;" dmx-bind:src="evento_banner_principal">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</section>
<section id="lista_eventos">
    <div class="container mt-4 mb-4">
        <div class="row" is="dmx-repeat" id="eventos_card" dmx-bind:items="1" dmx-bind:repeat="sc_listar_eventos.data.query.data" key="id">
            <div class="col-sm-4">
                <div class="card d-flex flex-row">
                    <!-- Imagem na esquerda -->
                    <img class="card-img-left me-2 pt-1 pb-1 ps-3 pe-3" style="max-height: 200px; object-fit: contain; width: auto; background-color: #f8f9fa;" alt="Card image cap" dmx-bind:src="evento_banner_principal">

                    <!-- Conteúdo na direita -->
                    <div class="card-body">
                        <div class="d-flex flex-column justify-content-between h-75">
                            <div class="d-flex flex-column justify-content-between">
                                <h4 class="card-title">{{evento_nome}}</h4>
                                <p class="card-text">{{evento_resumo}}</p>
                            </div>
                        </div>


                        <a class="btn btn-primary text-bg-primary" dmx-on:click="browser1.goto('/evento/'+id)">Ver mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="informacoes">
    <div class="container">

        <div class="row text-center">
            <div class="col-sm-12">
                <h2 class="title">Informações</h2>
                <p class="slogan">Você sempre atualizado</p>
            </div>
        </div>
        <!-- end row -->

        <div class="row p-t-50">
            <div class="col-sm-4">
                <div class="d-flex align-items-center flex-row gap-2 mb-2"><img src="/assets/images/banners_eventos/vitorlou.png" height="100">
                    <h5 class="text-center">Prepare-se para a Noite de Energia!</h5>
                </div>

                <div class="question-box">

                    <p>Hoje, o Amazon Club recebe o DJ [Nome Famoso] com os maiores hits da cena eletrônica. Não perca a vibe! Garanta seu ingresso agora.</p>
                    <p class="text-end text-secondary">22 ago 2024</p>
                </div>

                <div class="question-box">
                </div>

                <div class="question-box">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex align-items-center flex-row gap-2 mb-2"><img src="/assets/images/banners_eventos/djevento.png" height="100">
                    <h5 class="text-center">Experiência Única com [Nome do DJ]!</h5>
                </div>

                <div class="question-box">

                    <p>Amanhã é dia de balada! Ritmos eletrônicos, luzes incríveis e uma vibe inesquecível te esperam no Amazon Club. Corra antes que os ingressos acabem!</p>
                    <p class="text-end text-secondary">22 ago 2024</p>
                </div>

                <div class="question-box">
                </div>

                <div class="question-box">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex align-items-center flex-row gap-2 mb-2"><img src="/assets/images/banners_eventos/djevento.png" height="100">
                    <h5 class="text-center">Experiência Única com [Nome do DJ]!</h5>
                </div>

                <div class="question-box">

                    <p>Amanhã é dia de balada! Ritmos eletrônicos, luzes incríveis e uma vibe inesquecível te esperam no Amazon Club. Corra antes que os ingressos acabem!</p>
                    <p class="text-end text-secondary">22 ago 2024</p>
                </div>

                <div class="question-box">
                </div>

                <div class="question-box">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="d-flex align-items-center flex-row gap-2 mb-2"><img src="/assets/images/banners_eventos/djevento.png" height="100">
                    <h5 class="text-center">Experiência Única com [Nome do DJ]!</h5>
                </div>

                <div class="question-box">

                    <p>Amanhã é dia de balada! Ritmos eletrônicos, luzes incríveis e uma vibe inesquecível te esperam no Amazon Club. Corra antes que os ingressos acabem!</p>
                    <p class="text-end text-secondary">22 ago 2024</p>
                </div>

                <div class="question-box">
                </div>

                <div class="question-box">
                </div>
            </div>
        </div>
    </div> <!-- end Container -->
</section>

<section id="faq" class="w-100">

    <div class="card-body text-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mt-3">
                    <h3 class="fw-semibold">Perguntas frequentes</h3>
                    <p class="text-muted mt-3 mb-2">Se você tem dúvidas, confira abaixo as respostas para as perguntas mais comuns. Caso não encontre o que procura, entre em contato conosco.</p>



                </div>
            </div><!-- end col -->
        </div><!-- end row -->


        <div class="row mt-4">
            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/ingresso.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Os ingressos são nominais?</h4>
                    <p class="mb-0">Sim. A entrada no evento só é permitida ao portador do ingresso, que deve apresentar um documento de identificação oficial correspondente ao CPF e nome registrados no ingresso.</p>
                </div>
            </div>
            <!--/col-sm-4 -->

            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/edit.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Porque o CPF no ingresso?</h4>
                    <p class="mb-0">Para as transações de compra, é utilizado o CPF do usuário logado. Certifique-se de que o CPF esteja corretamente preenchido para evitar problemas com o pagamento. Para fazer alterações, basta acessar o seu perfil.</p>
                </div>
            </div>
            <!--/col-sm-4 -->

            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/devolver.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Devolução e reembolso</h4>
                    <p class="mb-0">Você tem até 07 (sete) dias após a compra para solicitar a devolução do ingresso, exceto nos 02 (dois) dias que antecedem o evento. O reembolso é efetuado integralmente e de forma automática pelo método de pagamento utilizado, em até 10 dias.</p>
                </div>
            </div>
            <!--/col-sm-4 -->
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/transferir.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Transferência do ingresso</h4>
                    <p class="mb-0">Você pode ceder o ingresso 01 (uma) única vez, desde que seja feito até 01 (um) dia antes do evento.</p>
                </div>
            </div>
            <!--/col-sm-4 -->

            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/search.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Onde acho meu ingresso?</h4>
                    <p class="mb-0">Após a confirmação do pagamento, seus ingressos estarão disponíveis no aplicativo. Apresente-os junto com um documento de identificação na entrada do evento. Você pode baixá-los em PDF ou mostrá-los diretamente no aplicativo. Um QR Code será escaneado na entrada.</p>
                </div>
            </div>
            <!--/col-sm-4 -->

            <div class="col-lg-4">
                <div class="faq-box text-center p-4">
                    <img src="/assets/images/faq_icons/suporte.png" alt="icon" class="img-fluid avatar-md">
                    <h4 class="mt-4 fw-semibold">Suporte</h4>
                    <p class="mb-0">Nosso suporte está sempre à disposição para ajudar você com qualquer dúvida ou necessidade, garantindo uma experiência tranquila e segura.</p>
                </div>
            </div>
            <!--/col-sm-4 -->
        </div>
        <!-- end row -->

        <button type="button" class="btn btn-primary waves-effect waves-light mt-2 me-1"><i class="fab fa-whatsapp"></i>&nbsp;Entre em contato</button>
    </div>
</section>