<!-- Wappler include head-page="layouts/homepage" fontawesome_5="cdn" bootstrap5="custom" components="{dmxBootstrap5Navigation:{}}" -->
<div class="container">
    <div class="card page-title-box rounded-0 mt-xxl-5">
        <div class="d-flex align-items-sm-center flex-sm-row flex-column gap-2">
            <div class="flex-grow-1">
                <h4 class="font-18 fw-semibold mb-0">Profile</h4>
            </div>

            <div class="text-end">
                <ol class="breadcrumb m-0 py-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Adminox</a></li>

                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>

                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row mt-xxl-5">
        <div class="col-sm-12">
            <!-- meta -->
            <div class="profile-user-box">
                <div class="row">
                    <div class="col-sm-6">
                        <span class="float-start me-3"><img src="assets/images/users/avatar-1.jpg" alt="" class="avatar-xl rounded-circle"></span>
                        <div class="media-body">
                            <h4 class="mt-1 mb-1 font-18 ellipsis">Michael A. Franklin</h4>
                            <p class="font-13"> User Experience Specialist</p>
                            <p class="text-muted mb-0"><small>California, United States</small></p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="text-end">
                            <button type="button" class="btn btn-success waves-effect waves-light">
                                <i class="mdi mdi-account-settings-variant me-1"></i> Edit Profile
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ meta -->
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <!-- Personal-Information -->
            <div class="card">
                <div class="card-body">
                    <div class="panel-body">


                        <div class="text-left">
                            <p class="text-muted font-13"><strong>Nome completo:</strong> <span class="ms-3">Johnathan Deo</span></p>
                            <p class="text-muted font-13"><strong>Nome exibição:</strong> <span class="ms-3">Johnathan Deo</span></p>

                            <p class="text-muted font-13"><strong>WhatsApp:</strong><span class="ms-3">(+12) 123 1234 567</span></p>

                            <p class="text-muted font-13"><strong>E-mail :</strong> <span class="ms-3">coderthemes@gmail.com</span></p>

                            <p class="text-muted font-13"><strong>Endereço:</strong> <span class="ms-3">USA</span></p>


                        </div>

                    </div>
                </div>
            </div>
            <!-- Personal-Information -->


        </div>


        <!-- end col -->

    </div>
</div>
<meta name="ac:route" content="/perfil">