<!-- Wappler include fontawesome_5="cdn" is="dmx-app" id="teste" appConnect="local" bootstrap5="local" -->
<meta name="ac:route" content="/teste">
<dmx-datetime id="var1"></dmx-datetime>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-dark-emphasis">Fancy display heading</h1>
        </div>
    </div>
</div>